<%= form_with model: article do |form| %>
   
    <div class="row">
        <%= form.label :title %><br>       
        <%= form.text_field :title %>    
        <% article.errors.full_messages_for(:title).each do |message| %>
            <div class="alert alert-danger alert-dismissable">
                <%= message %>
            </div>
        <% end %>    
    </div>
    <div class="row">
        <%= form.label :body %><br>
        <%= form.text_area :body %>
        <% article.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>          
    </div>
    <div class="row">
        <%= form.submit %>
    </div>    

<% end %>