<h1>Articles</h1>
<h2>Add article</h2>
<%= link_to "New Article", new_article_path %>

Our blog has <%= Article.public_count %> articles published

<h2>List of articles</h2
<ul>
    <% @articles.each do |article| %>
        <% if !article.archived? %>
            <li>
                <%= link_to article.title, article %>
            </li>
        <% end %>
    <% end %>
</ul>