<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article),
        data: {turbo_method: :delete,
        turbo_confirm: "Are you sure to delete this article?"
        }%>
    </li>
</ul>
<%# The list of comments %>
<h2>Comments</h2>
<%= render @article.comments  %>

<%# The form for comments %>

<h3>Add a comments : </h3>

<%= render 'comments/form' %>